In [10]:
import gzip
import shutil
import os
import pandas as pd
import pyarrow.parquet as pq

In [3]:
cwd = os.getcwd()

#### Import data files in both CSV and Parquet format
- yellow Jan 2021
- green Jan 2019
- green Sep 2021

In [ ]:
data_dir = "../week_1_basics_n_setup/docker_sql/data/"

# yellow CSV January 2021
!wget -O {data_dir}/yellow_cab_trip_data_jan_2021.csv.gz "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz" 
# green CSV January 2021
!wget -O {data_dir}/green_cab_trip_data_jan_2019.csv.gz "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"
# green CSV September 2019
!wget -O {data_dir}/green_cab_trip_data_sep_2019.csv.gz "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"

# yellow parquet January 2021
!wget -O {data_dir}/yellow_cab_trip_data_jan_2021.parquet "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"
# green parquet January 2019
!wget -O {data_dir}/green_cab_trip_data_jan_2019.parquet "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-01.parquet"
# green parquet September 2019
!wget -O {data_dir}/green_cab_trip_data_sep_2019.parquet "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-09.parquet"

### UNZIP THE CSVs

In [15]:
zip_files = [f for f in os.listdir(data_dir) if f.endswith('.gz')]
print(zip_files)

['green_cab_trip_data_sep_2019.csv.gz', 'yellow_cab_trip_data_jan_2021.csv.gz', 'green_cab_trip_data_jan_2019.csv.gz']

In [16]:
for file in zip_files:
    !gzip -d {data_dir}/{file}
    print(f"Unzipping {file}")

Unzipping green_cab_trip_data_sep_2019.csv.gz
Unzipping yellow_cab_trip_data_jan_2021.csv.gz
Unzipping green_cab_trip_data_jan_2019.csv.gz

In [19]:
yellow_csv_df = pd.read_csv(f"{data_dir}/yellow_cab_trip_data_jan_2021.csv")
yellow_pq_df = pd.read_parquet(f"{data_dir}/yellow_cab_trip_data_jan_2021.parquet")

green_jan_csv_df = pd.read_csv(f"{data_dir}/green_cab_trip_data_jan_2019.csv")
green_jan_pq_df = pd.read_parquet(f"{data_dir}/green_cab_trip_data_jan_2019.parquet")

green_sep_csv_df = pd.read_csv(f"{data_dir}/green_cab_trip_data_sep_2019.csv")
green_sep_pq_df = pd.read_parquet(f"{data_dir}/green_cab_trip_data_sep_2019.parquet")

/tmp/ipykernel_39162/1836797291.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  yellow_csv_df = pd.read_csv(f"{data_dir}/yellow_cab_trip_data_jan_2021.csv")
/tmp/ipykernel_39162/1836797291.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  green_sep_csv_df = pd.read_csv(f"{data_dir}/green_cab_trip_data_sep_2019.csv")

In [20]:
print(f'yellow_csv_df {yellow_csv_df.shape}')
print(f'yellow_pq_df {yellow_pq_df.shape}')

print(f'green_jan_csv_df {green_jan_csv_df.shape}')
print(f'green_jan_pq_df {green_jan_pq_df.shape}')

print(f'green_sep_csv_df {green_sep_csv_df.shape}')
print(f'green_sep_pq_df {green_sep_pq_df.shape}')

yellow_csv_df (1369765, 18)
yellow_pq_df (1369769, 19)
green_jan_csv_df (630918, 20)
green_jan_pq_df (672105, 20)
green_sep_csv_df (449063, 20)
green_sep_pq_df (449063, 20)

In [21]:
print(f'yellow_csv_df {yellow_csv_df.columns}')
print(f'yellow_pq_df {yellow_pq_df.columns}')

yellow_csv_df Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')
yellow_pq_df Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [26]:
print(f'green_jan_csv_df {green_jan_csv_df.columns}')
print(f'green_jan_pq_df {green_jan_pq_df.columns}')

green_jan_csv_df Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')
green_jan_pq_df Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [27]:
print(f'green_sep_csv_df {green_sep_csv_df.columns}')
print(f'green_sep_pq_df {green_sep_pq_df.columns}')

green_sep_csv_df Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')
green_sep_pq_df Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [22]:
green_sep_csv_df.describe()

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,389920.000000,389920.000000,449063.000000,449063.000000,389920.000000,449063.000000,449063.000000,449063.000000,449063.000000,449063.000000,449063.000000,0.0,449063.000000,449063.000000,389920.000000,389920.000000,389920.000000
mean,1.837777,1.106971,108.139203,130.154678,1.311900,3.519991,15.491455,0.697539,0.484626,1.037571,0.312411,NaN,0.253791,18.624612,1.456383,1.024685,0.439440
std,0.368656,0.723302,71.025032,76.577260,0.969761,4.083097,13.561680,1.022319,0.097407,2.261574,1.416886,NaN,0.110241,15.243472,0.522117,0.155162,1.007679
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,-200.000000,-4.500000,-0.500000,-3.890000,-15.400000,NaN,-0.300000,-200.000000,1.000000,1.000000,-2.750000
25%,2.000000,1.000000,56.000000,65.000000,1.000000,1.100000,7.000000,0.000000,0.500000,0.000000,0.000000,NaN,0.300000,8.800000,1.000000,1.000000,0.000000
50%,2.000000,1.000000,82.000000,129.000000,1.000000,2.090000,11.000000,0.500000,0.500000,0.000000,0.000000,NaN,0.300000,13.550000,1.000000,1.000000,0.000000
75%,2.000000,1.000000,166.000000,195.000000,1.000000,4.220000,20.000000,1.000000,0.500000,1.660000,0.000000,NaN,0.300000,24.050000,2.000000,1.000000,0.000000
max,2.000000,99.000000,265.000000,265.000000,9.000000,341.640000,1761.000000,8.250000,17.330000,400.000000,33.240000,NaN,0.300000,1762.800000,5.000000,2.000000,2.750000

In [23]:
green_sep_pq_df.describe()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,449063.000000,449063,449063,389920.000000,449063.000000,449063.000000,389920.000000,449063.000000,449063.000000,449063.000000,449063.000000,449063.000000,449063.000000,449063.000000,449063.000000,389920.000000,389920.000000,389920.000000
mean,1.859142,2019-09-16 03:37:33.264582,2019-09-16 03:59:50.261181,1.106971,108.139203,130.154678,1.311900,3.519991,15.491455,0.697539,0.484626,1.037571,0.312411,0.253791,18.624612,1.456383,1.024685,0.439440
min,1.000000,2009-01-01 00:03:09,2009-01-01 00:13:17,1.000000,1.000000,1.000000,0.000000,0.000000,-200.000000,-4.500000,-0.500000,-3.890000,-15.400000,-0.300000,-200.000000,1.000000,1.000000,-2.750000
25%,2.000000,2019-09-08 21:06:58.500000,2019-09-08 21:29:28.500000,1.000000,56.000000,65.000000,1.000000,1.100000,7.000000,0.000000,0.500000,0.000000,0.000000,0.300000,8.800000,1.000000,1.000000,0.000000
50%,2.000000,2019-09-16 10:23:21,2019-09-16 10:44:33,1.000000,82.000000,129.000000,1.000000,2.090000,11.000000,0.500000,0.500000,0.000000,0.000000,0.300000,13.550000,1.000000,1.000000,0.000000
75%,2.000000,2019-09-23 14:54:41.500000,2019-09-23 15:15:52,1.000000,166.000000,195.000000,1.000000,4.220000,20.000000,1.000000,0.500000,1.660000,0.000000,0.300000,24.050000,2.000000,1.000000,0.000000
max,2.000000,2020-03-07 09:24:23,2020-03-07 09:29:21,99.000000,265.000000,265.000000,9.000000,341.640000,1761.000000,8.250000,17.330000,400.000000,33.240000,0.300000,1762.800000,5.000000,2.000000,2.750000
std,0.347875,NaN,NaN,0.723302,71.025032,76.577260,0.969761,4.083097,13.561680,1.022319,0.097407,2.261574,1.416886,0.110241,15.243472,0.522117,0.155162,1.007679

In [25]:
comparison_result = green_sep_csv_df.equals(green_sep_pq_df)
print(comparison_result)

False