## DATA TYPES 
This notebook looks at the data types of the NY taxi CSV files for the date range that we are using in the DataTalks class.

In [1]:
import pandas as pd
import numpy as np  
import os 
from io import BytesIO
import requests
import utils

In [2]:
services = ['fhv','green','yellow']
init_url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/'

## It appears that the data format of multiple columns changed in Aug 2019

In [3]:
dtypes_green_2019 = utils.get_service_year_dtypes(services[1], 2019)

In [4]:
print(dtypes_green_2019.shape)
dtypes_green_2019

(20, 24)

,01_2019,n_01_2019,02_2019,n_02_2019,03_2019,n_03_2019,04_2019,n_04_2019,05_2019,n_05_2019,...,08_2019,n_08_2019,09_2019,n_09_2019,10_2019,n_10_2019,11_2019,n_11_2019,12_2019,n_12_2019
Column Name,,,,,,,,,,,,,,,,,,,,,
VendorID,{int},2,{int},2,{int},2,{int},2,{int},2,...,{float},2,{float},2,{float},2,{float},2,{float},2
lpep_pickup_datetime,{str},541269,{str},494374,{str},521026,{str},453362,{str},447266,...,{str},383743,{str},375970,{str},377239,{str},355168,{str},355171
lpep_dropoff_datetime,{str},540701,{str},493358,{str},520254,{str},452548,{str},446367,...,{str},383033,{str},375250,{str},376993,{str},354915,{str},355088
store_and_fwd_flag,{str},2,{str},2,{str},2,{str},2,{str},2,...,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2
RatecodeID,{int},6,{int},7,{int},7,{int},7,{int},7,...,{float},7,{float},7,{float},7,{float},7,{float},6
PULocationID,{int},256,{int},258,{int},260,{int},258,{int},258,...,{int},252,{int},257,{int},256,{int},257,{int},256
DOLocationID,{int},261,{int},260,{int},260,{int},261,{int},260,...,{int},259,{int},260,{int},261,{int},260,{int},260
passenger_count,{int},10,{int},10,{int},10,{int},10,{int},10,...,{float},9,{float},10,{float},10,{float},10,{float},10
trip_distance,{float},3255,{float},3308,{float},3320,{float},3061,{float},3059,...,{float},3199,{float},3142,{float},3183,{float},5369,{float},4765
fare_amount,{float},5438,{float},5506,{float},5744,{float},4061,{float},865,...,{float},3716,{float},4179,{float},5036,{float},5071,{float},4908
extra,{float},8,{float},15,{float},10,{float},12,{float},15,...,{float},16,{float},18,{float},14,{float},12,{float},15
mta_tax,{float},4,{float},4,{float},4,{float},8,{float},4,...,{float},4,{float},16,{float},5,{float},4,{float},5
tip_amount,{float},1382,{float},1417,{float},1484,{float},1604,{float},1632,...,{float},1656,{float},1683,{float},1610,{float},1544,{float},1554
tolls_amount,{float},113,{float},127,{float},116,{float},106,{float},100,...,{float},121,{float},104,{float},96,{float},99,{float},95
ehail_fee,{float},0,{float},0,{float},0,{float},0,{float},0,...,{float},2,{float},0,{float},0,{float},0,{float},0
improvement_surcharge,{float},3,{float},3,{float},3,{float},3,{float},3,...,{float},3,{float},3,{float},3,{float},10,{float},4
total_amount,{float},7475,{float},7682,{float},7804,{float},6622,{float},5532,...,{float},5982,{float},6175,{float},6499,{float},6036,{float},5799
payment_type,{int},5,{int},5,{int},5,{int},5,{int},5,...,{float},5,{float},5,{float},5,{float},5,{float},5
trip_type,{int},2,{int},2,{int},2,{int},2,{int},2,...,{float},2,{float},2,{float},2,{float},2,{float},2
congestion_surcharge,{float},2,{float},6,{float},6,{float},6,{float},5,...,{float},5,{float},5,{float},5,{float},5,{float},5

In [5]:
dtypes_green_2020 = utils.get_service_year_dtypes(services[1], 2020)

In [6]:
dtypes_green_2020

,01_2020,n_01_2020,02_2020,n_02_2020,03_2020,n_03_2020,04_2020,n_04_2020,05_2020,n_05_2020,...,08_2020,n_08_2020,09_2020,n_09_2020,10_2020,n_10_2020,11_2020,n_11_2020,12_2020,n_12_2020
Column Name,,,,,,,,,,,,,,,,,,,,,
VendorID,{float},2,{float},2,{float},2,{float},2,{float},2,...,{float},2,{float},2,{float},2,{float},2,{float},2
lpep_pickup_datetime,{str},331157,{str},316285,{str},183458,{str},32973,{str},48166,...,{str},66231,{str},67677,{str},73013,{str},67805,{str},64520
lpep_dropoff_datetime,{str},331043,{str},316272,{str},183116,{str},32983,{str},48217,...,{str},66243,{str},67708,{str},73060,{str},67873,{str},64594
store_and_fwd_flag,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2,...,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2
RatecodeID,{float},7,{float},7,{float},7,{float},6,{float},5,...,{float},5,{float},5,{float},6,{float},6,{float},5
PULocationID,{int},251,{int},254,{int},252,{int},235,{int},250,...,{int},251,{int},246,{int},251,{int},252,{int},253
DOLocationID,{int},257,{int},258,{int},258,{int},249,{int},257,...,{int},254,{int},256,{int},256,{int},256,{int},256
passenger_count,{float},10,{float},9,{float},10,{float},9,{float},10,...,{float},9,{float},9,{float},9,{float},9,{float},9
trip_distance,{float},3555,{float},3056,{float},2965,{float},2568,{float},2943,...,{float},2960,{float},2872,{float},2878,{float},2859,{float},2952
fare_amount,{float},6037,{float},4366,{float},5656,{float},4043,{float},5563,...,{float},3038,{float},3085,{float},3394,{float},3528,{float},3260
extra,{float},13,{float},37,{float},45,{float},12,{float},12,...,{float},18,{float},13,{float},15,{float},12,{float},9
mta_tax,{float},4,{float},4,{float},4,{float},3,{float},4,...,{float},3,{float},4,{float},4,{float},3,{float},3
tip_amount,{float},1468,{float},1467,{float},1307,{float},870,{float},749,...,{float},1067,{float},1061,{float},1170,{float},1200,{float},1114
tolls_amount,{float},94,{float},74,{float},62,{float},23,{float},51,...,{float},35,{float},41,{float},42,{float},34,{float},31
ehail_fee,{float},0,{float},0,{float},0,{float},0,{float},0,...,{float},0,{float},0,{float},0,{float},0,{float},0
improvement_surcharge,{float},3,{float},3,{float},3,{float},3,{float},3,...,{float},3,{float},3,{float},3,{float},3,{float},3
total_amount,{float},7072,{float},5266,{float},6769,{float},4943,{float},6387,...,{float},3737,{float},3876,{float},4295,{float},4432,{float},4095
payment_type,{float},5,{float},5,{float},5,{float},4,{float},5,...,{float},5,{float},5,{float},5,{float},5,{float},5
trip_type,{float},2,{float},2,{float},2,{float},2,{float},2,...,{float},2,{float},2,{float},2,{float},2,{float},2
congestion_surcharge,{float},5,{float},4,{float},4,{float},3,{float},3,...,{float},3,{float},3,{float},3,{float},3,{float},3

In [7]:
dtypes_yellow_2019 = utils.get_service_year_dtypes(services[2], 2019)

In [8]:
dtypes_yellow_2019

,01_2019,n_01_2019,02_2019,n_02_2019,03_2019,n_03_2019,04_2019,n_04_2019,05_2019,n_05_2019,...,08_2019,n_08_2019,09_2019,n_09_2019,10_2019,n_10_2019,11_2019,n_11_2019,12_2019,n_12_2019
Column Name,,,,,,,,,,,,,,,,,,,,,
VendorID,{int},3,{int},3,{int},3,{int},3,{int},3,...,{float},3,{float},3,{float},2,{float},2,{float},2
tpep_pickup_datetime,{str},2245960,{str},2039881,{str},2268374,{str},2177745,{str},2248332,...,{str},2164456,{str},2129612,{str},2218590,{str},2138162,{str},2178312
tpep_dropoff_datetime,{str},2250229,{str},2043000,{str},2271297,{str},2180162,{str},2251751,...,{str},2166570,{str},2130945,{str},2221573,{str},2140948,{str},2180419
passenger_count,{int},10,{int},10,{int},10,{int},10,{int},10,...,{float},10,{float},10,{float},10,{float},10,{float},10
trip_distance,{float},4390,{float},4339,{float},4499,{float},4548,{float},4555,...,{float},4667,{float},4583,{float},4555,{float},6499,{float},6259
RatecodeID,{int},7,{int},7,{int},7,{int},7,{int},7,...,{float},7,{float},7,{float},7,{float},7,{float},7
store_and_fwd_flag,{str},2,{str},2,{str},2,{str},2,{str},2,...,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2
PULocationID,{int},263,{int},261,{int},261,{int},261,{int},261,...,{int},261,{int},261,{int},260,{int},260,{int},261
DOLocationID,{int},261,{int},262,{int},261,{int},262,{int},263,...,{int},262,{int},263,{int},261,{int},261,{int},261
payment_type,{int},4,{int},4,{int},5,{int},4,{int},4,...,{float},5,{float},4,{float},4,{float},5,{float},5
fare_amount,{float},6278,{float},6263,{float},6643,{float},5299,{float},2328,...,{float},5066,{float},5184,{float},5396,{float},5622,{float},5487
extra,{float},37,{float},43,{float},53,{float},57,{float},43,...,{float},45,{float},45,{float},48,{float},41,{float},41
mta_tax,{float},12,{float},8,{float},15,{float},7,{float},10,...,{float},9,{float},11,{float},9,{float},11,{float},11
tip_amount,{float},3362,{float},3404,{float},3703,{float},3683,{float},3721,...,{float},3671,{float},3662,{float},3809,{float},3708,{float},3786
tolls_amount,{float},892,{float},933,{float},1005,{float},1039,{float},1027,...,{float},977,{float},1046,{float},1068,{float},1000,{float},1041
improvement_surcharge,{float},4,{float},4,{float},4,{float},4,{float},3,...,{float},3,{float},5,{float},3,{float},3,{float},3
total_amount,{float},12191,{float},12188,{float},12927,{float},12634,{float},12502,...,{float},12363,{float},12548,{float},12652,{float},12595,{float},12868
congestion_surcharge,{float},2,{float},6,{float},7,{float},7,{float},8,...,{float},6,{float},7,{float},6,{float},7,{float},11

In [9]:
dtypes_yellow_2020 = utils.get_service_year_dtypes(services[2], 2020)

In [10]:
dtypes_yellow_2020

,01_2020,n_01_2020,02_2020,n_02_2020,03_2020,n_03_2020,04_2020,n_04_2020,05_2020,n_05_2020,...,08_2020,n_08_2020,09_2020,n_09_2020,10_2020,n_10_2020,11_2020,n_11_2020,12_2020,n_12_2020
Column Name,,,,,,,,,,,,,,,,,,,,,
VendorID,{float},2,{float},2,{float},2,{float},2,{float},2,...,{float},2,{float},2,{float},2,{float},2,{float},2
tpep_pickup_datetime,{str},2134342,{str},2027136,{str},1226256,{str},218054,{str},302104,...,{str},766824,{str},928717,{str},1100229,{str},998162,{str},976063
tpep_dropoff_datetime,{str},2137286,{str},2031299,{str},1226685,{str},218182,{str},302377,...,{str},767372,{str},928624,{str},1098134,{str},995681,{str},973876
passenger_count,{float},10,{float},10,{float},10,{float},8,{float},9,...,{float},10,{float},10,{float},10,{float},8,{float},10
trip_distance,{float},5606,{float},4391,{float},3963,{float},2952,{float},3442,...,{float},3589,{float},3627,{float},3674,{float},3670,{float},3746
RatecodeID,{float},7,{float},7,{float},7,{float},7,{float},7,...,{float},7,{float},7,{float},7,{float},7,{float},7
store_and_fwd_flag,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2,...,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2,"{float, str}",2
PULocationID,{int},261,{int},259,{int},260,{int},250,{int},260,...,{int},259,{int},259,{int},260,{int},260,{int},260
DOLocationID,{int},262,{int},261,{int},261,{int},259,{int},260,...,{int},260,{int},261,{int},261,{int},260,{int},260
payment_type,{float},5,{float},4,{float},4,{float},4,{float},4,...,{float},5,{float},4,{float},4,{float},5,{float},4
fare_amount,{float},5283,{float},5137,{float},6383,{float},5111,{float},6934,...,{float},5106,{float},6034,{float},6365,{float},6091,{float},5961
extra,{float},47,{float},122,{float},165,{float},18,{float},19,...,{float},92,{float},102,{float},102,{float},73,{float},84
mta_tax,{float},11,{float},11,{float},7,{float},4,{float},4,...,{float},5,{float},8,{float},6,{float},7,{float},6
tip_amount,{float},3626,{float},3680,{float},3042,{float},1445,{float},1493,...,{float},2149,{float},2175,{float},2256,{float},2213,{float},2222
tolls_amount,{float},1035,{float},937,{float},664,{float},102,{float},197,...,{float},277,{float},312,{float},346,{float},327,{float},366
improvement_surcharge,{float},3,{float},3,{float},3,{float},3,{float},3,...,{float},3,{float},3,{float},3,{float},3,{float},3
total_amount,{float},12488,{float},12311,{float},10878,{float},6673,{float},8404,...,{float},7712,{float},8322,{float},8795,{float},8571,{float},8424
congestion_surcharge,{float},8,{float},7,{float},6,{float},3,{float},4,...,{float},4,{float},5,{float},5,{float},6,{float},5

In [12]:
dtypes_fhv_2019 = utils.get_service_year_dtypes(services[0], 2019)

In [13]:
dtypes_fhv_2019

,01_2019,n_01_2019,02_2019,n_02_2019,03_2019,n_03_2019,04_2019,n_04_2019,05_2019,n_05_2019,...,08_2019,n_08_2019,09_2019,n_09_2019,10_2019,n_10_2019,11_2019,n_11_2019,12_2019,n_12_2019
Column Name,,,,,,,,,,,,,,,,,,,,,
dispatching_base_num,"{float, str}",609,{str},466,{str},527,{str},516,{str},576,...,{str},586,{str},486,{str},561,{str},561,{str},600
pickup_datetime,{str},2617832,{str},1083886,{str},979542,{str},1148389,{str},1223033,...,{str},1133150,{str},775454,{str},1140912,{str},1119785,{str},1198816
dropOff_datetime,{str},2619363,{str},1103657,{str},994036,{str},1185351,{str},1249171,...,{str},1165893,{str},793766,{str},1171846,{str},1140378,{str},1221898
PUlocationID,{float},264,{float},260,{float},261,{float},261,{int},259,...,{float},262,{float},263,{float},261,{float},260,{float},261
DOlocationID,{float},265,{float},260,{float},261,{float},261,{int},260,...,{float},262,{float},263,{float},263,{float},262,{float},263
SR_Flag,{float},43,{float},2,{float},0,{float},0,{float},0,...,{float},0,{float},0,{float},0,{float},0,{float},0
Affiliated_base_number,"{float, str}",1517,"{float, str}",656,"{float, str}",724,"{float, str}",711,"{float, str}",1129,...,"{float, str}",1504,"{float, str}",884,"{float, str}",1010,"{float, str}",963,"{float, str}",977